[Unit]
Description=WoL Flask App (gunicorn via TCP)
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/wol-server
Environment="PATH=/home/pi/wol-server/venv/bin"
ExecStart=/home/pi/wol-server/venv/bin/gunicorn -b 127.0.0.1:5000 'app:create_app()'
Restart=always

[Install]
WantedBy=multi-user.target
